<template>
  <div class="modal-bg" v-show="show">
    <div class="modal-container">
      <form @submit.prevent="submit">
        <div v-show="!(submitted && succeed)">
          <div class="modal-header">
            Request an invite
          </div>
          <div class="modal-main">
            <div>
              <input type="Text" placeholder="Full Name" v-model="user.name">
            </div>
            <div>
              <input type="Email" placeholder="Email">
            </div>
            <div>
              <input type="Email" placeholder="Email Again" v-model="user.email">
            </div>
          </div>
          <div class="modal-footer">
            <button round @click="hideModal">Cancel</button>
            <button type="primary" round @click="submit">Send</button>
          </div>
        </div>
        <div v-show="submitted && succeed" class="modal-main">
          <h1>All Done</h1>
          <h2>You will be one of the first to experience Broccoli & Co. when we launch.</h2>
          <div class="modal-footer">
            <button v-on:click="ok">OK</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'modal',
  data () {
    return {
      submitted: false,
      succeed: false,
      failed: false,
      message: '',
      user: {
        name: '',
        email: ''
      },
      rules: {
        name: [
          { required: true, message: 'Fullname is required!', trigger: ['change', 'blur'] }
        ],
        email: [
          { required: true, message: 'Email is required!', trigger: ['change', 'blur'] }
        ]
      }
    }
  },
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    ok: function (event) {
      window.close()
    },
    hideModal () {
      this.$emit('hideModal')
    },
    submit () {
      this.submitted = true
      var formData = JSON.stringify(this.user)
      console.log(formData)
      console.log(this.user)
      this.$http.post('https://l94wc2001h.execute-api.ap-southeast-2.amazonaws.com/prod/fake-auth', formData).then((response) => {
        console.log('succeed')
        console.log(response)
        console.log(response.length)
        console.log(response.data)
        this.succeed = true
        this.message = response.data
        if (response.statusCode === 200) {
          this.status = 'succeed'
          this.message = response.data
        }
      }, (response) => {
        console.log('failed')
        console.log(response)
        console.log(response.length)
        console.log(response.data)
        this.failed = true
        this.status = 'failed'
        this.message = response.error
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 10;
}
.modal-container {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.modal-header {
  height: 26px;
  background: #409EFF;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  border-top: 1px solid #ddd;
}
.modal-footer button {
  width: 100px;
}
.modal-main {
  padding: 15px 40px;
}
</style>
