<template>
  <div class="register">
    <div class="page-header">
      <h2>Broccoli & Co.</h2>
    </div>
    <div class="page-body">
      <h1>A better way to enjoy every day</h1>
      <h2>Be the first to know when we launch.</h2>
      <button v-on:click="register">Request an invite</button>
      <Modal :show="show" @hideModal="hideModal" @submit="submit">
        <p></p>
      </Modal>
    </div>
    <div class="page-footer">
      <h2>Made with ♥ in Melbourne.</h2>
    </div>
    <div class="page-footer">
      <h2>© 2016 Broccoli & Co. All Rights Reserved. </h2>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Register',
  data () {
    return {
      show: false
    }
  },
  components: {
    Modal: () => import('./Modal.vue')
  },
  methods: {
    register: function (event) {
      this.show = true
    },
    hideModal () {
      this.show = false
    },
    submit () {
      this.show = false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.page-header {
  position: float;
  height: 20%;
  align-items: left;
  justify-content: left;
  border-top: 1px solid #ddd;
}
.page-body {
  position: float;
  height: 60%;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ddd;
}
.page-footer {
  position: float;
  height: 20%;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ddd;
}
</style>
